{% if model.copy|notempty or model.headline == '' %}COPY{% endif %}
{% if model.copy %}COPY{% else %}NOCOPY{% endif %}
{% if model.type == 'machinery' %}
    MACHINERY
{% elif model.type == 'news' %}
    NEWS
{% elif model.type == 'search' %}
    SEARCH
{% endif %}
{% if text|trim != '' %}TEXT{% endif %}
{% if model.copy == true %}TEXT{% endif %}
{% if model.copy == false %}TEXT{% endif %}